doctype html
html
  head
    title= title
    <script src="https://kit.fontawesome.com/69dabc88ed.js" crossorigin="anonymous"></script>
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include ./partials/nav
    block content
    script(src="/javascripts/script.js")
