.submit-btn
    padding: .5rem .75rem
    font-size: 1rem
    background: #F46036
    cursor: pointer
    border: none
    color: #153243
    font-weight: bolder
    width: 100%

.comment-btn
    @extend .submit-btn
    color: #fefefe

.delete-btn
    @extend .submit-btn
    background: red
    color: #fefefe
    width: auto
    margin: 2rem 0
