extends ../layout

block content
  include ../partials/messages.jade

  main
    div(class="category")
      h1(class="category__title")= category.name
      each post in posts
        a(class="category__post" href="/posts/" + post._id)
          h2= post.title
          h3= post.author
          p(class="date")= post.created